@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Ubuntu:wght@300;700&display=swap');

/**/

.header {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: .1px solid var(--line-color);
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.header__logo img {
    border-radius: 50%;
    width: 10rem;
}

.header__logo h1 {
    font-size: 5rem;
    font-family: var(--ubuntu);
    font-weight: 700;
    color: white;
}

.header__nav {
    display: flex;
    gap: 3rem;
    font-size: 3rem;
    font-family: var(--questrial);
}